header {
	background-color: lightgrey;
	padding: 20px 30px;
	text-align: right;
}

.locationField,
.inputField,
form {
	display: block;
}

p {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-right: 30px;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

@media (min-width: 800px) {
	.locationField,
	.inputField,
	form {
		display: inline-block;
	}
	p {
		width: 20px;
	}
}
label {
	margin-right: 20px;
	width: 100px;
}
input,
select,
button {
	width: 100px;
	margin-right: 30px;
	box-sizing: border-box;
	background-color: white;
	font-family: "Montserrat", sans-serif;
	border: 1px grey solid;
}
